@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "Source Sans 3";
  font-weight: 400;
  color: #fff;
}

a {
  font-family: "Source Sans 3";
  line-height: 1.4;
  color: #fff;
}

h1 {
  font-family: "Poppins";
  font-weight: 500;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  overflow-x: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
  width: 100%;
}
.wrapper > * {
  min-width: 0;
}

.logo {
  font-family: "Actor";
}

[class*=__container] {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

[class*=page] {
  min-height: 100vh;
}
@media (max-width: 768px) {
  [class*=page] {
    min-height: 100vh;
  }
}
@media (max-height: 600px) {
  [class*=page] {
    min-height: 100vh;
  }
}

body, a {
  font-family: "Source Sans 3";
}

body {
  background-color: #000;
}

.wrapper__container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
@media screen and (max-width: 650px) {
  .wrapper__container {
    display: block;
    margin-bottom: 45px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 60px;
  max-width: 410px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: calc(30px + 25 * (100vw - 320px) / 880);
}
@media screen and (max-width: 650px) {
  .content {
    height: calc(243px + 193 * (100vw - 320px) / 880);
    padding-top: 20px;
    text-align: center;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  line-height: 1.5;
  letter-spacing: -0.25px;
  font-size: 24px;
}

.navigation__list {
  display: flex;
  gap: 28px;
}
.navigation__link {
  transition: color 0.3s ease-out;
}
.navigation__link:hover {
  color: #242635;
}
@media screen and (max-width: 400px) {
  .navigation {
    padding-top: 30px;
    top: 0px;
    position: fixed;
    width: 100%;
    height: 250px;
    font-size: 30px;
    background-color: #000;
    transform: translate(120%, 0);
    transition: all 0.7s ease 0s;
  }
  .navigation__list {
    display: block;
  }
  .navigation__item {
    margin-bottom: 28px;
  }
}

.navigation.opened {
  transform: translate(0, 0);
  transition: all 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.dots {
  z-index: 5;
  display: none;
}
@media screen and (max-width: 400px) {
  .dots {
    display: flex;
    width: 24px;
    height: 24px;
    position: relative;
    justify-content: center;
    align-items: center;
  }
  .dots span {
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: #242635;
  }
  .dots span::before, .dots span::after {
    content: "";
    position: absolute;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: #242635;
    transition: all 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  .dots span::before {
    left: 0;
  }
  .dots span::after {
    right: 0;
  }
}

.dots.active {
  z-index: 5;
}
.dots.active span {
  width: 0;
}
.dots.active span::before, .dots.active span::after {
  height: 1px;
  width: 100%;
  background-color: #fff;
  border-radius: 0;
  transition: all 0.5s ease-in-out;
}
.dots.active span::before {
  transform: rotate(45deg);
}
.dots.active span::after {
  transform: rotate(-45deg);
}

.title {
  margin-bottom: calc(15px + 29 * (100vw - 320px) / 880);
  font-size: clamp(2rem, 0.818rem + 5.91vw, 5.25rem);
  line-height: 1.21;
  letter-spacing: -2px;
}

@media screen and (max-width: 650px) {
  .text {
    text-align: center;
  }
}

.icon {
  margin: 0 auto 0 0;
}
@media screen and (max-width: 650px) {
  .icon {
    display: none;
  }
}

.image {
  margin-top: 50px;
  position: relative;
  padding-bottom: 67.5%;
  max-width: 585px;
  min-width: 256px;
  width: 100%;
}
.image img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}